.profile-container {
  box-shadow: 0px 0px 3px black;

  @media screen and (max-width: 450px) {
    width: 100vw;
    height: 100vh;
  }

  @media screen and (max-width: 450px) {
    overflow: scroll;
  }

  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6px 16px;

    .left-arrow {
      height: 22px;
      width: 22px;
      cursor: pointer;
      background-color: transparent;
      padding: 9px;

      line,
      polyline {
        stroke: #aaaaaa;
      }

      &:hover {
        background-color: rgba(203, 203, 203, 0.045);
        padding: 9px;
        border-radius: 50%;
      }
    }

    .dots {
      height: 22px;
      width: 22px;
      fill: #aaaaaa;
      cursor: pointer;
      padding: 9px;

      &:hover {
        background-color: rgba(203, 203, 203, 0.045);
        padding: 9px;
        border-radius: 50%;
      }
    }

    .dots-active {
      background-color: rgba(203, 203, 203, 0.045);
      border-radius: 50%;
    }

    .settings {
      position: relative;
      left: -75px;
      top: 10px;
      font-size: 20px;
      font-weight: 500;
      cursor: default;
    }
  }

  .img-container {
    height: 240px;
    width: 420px;
    box-sizing: border-box;
    overflow: hidden;

    img {
      min-height: 100%;
      min-width: 100%;
      width: 420px;
      transform: translateY(-19%);
      cursor: pointer;
    }

    .avatar {
      background: linear-gradient(180deg, #7faaff 0%, #6762ff 100%);
      height: 115px;
      width: 115px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 45px;
      position: relative;
      top: 20px;
      cursor: default;
      margin: auto;
    }
  }

  .camera {
    height: 28px;
    width: 28px;
    background-color: #8774e1;
    padding: 13px;
    border-radius: 50%;
    position: relative;
    top: -185px;
    right: -325px;
    z-index: 20;
    cursor: pointer;

    @media screen and (max-width: 380px) {
      right: -280px;
    }
  }

  .img {
    top: -325px;
    background-color: transparent;
    margin: auto;
    height: 38px;
    width: 38px;
    left: 37%;
    padding: 36px;

    circle,
    path {
      stroke: transparent;
    }

    &:hover {
      background-color: rgba(black, 0.5);
      box-shadow: 0px 0px 20px black;

      circle,
      path {
        stroke: rgba(#ffffff, 0.8);
      }
    }
  }

  .delete {
    cursor: pointer;
    height: 28px;
    width: 28px;
    position: relative;
    top: -128px;
    left: 250px;
    background-color: #8774e1;
    padding: 13px;
    border-radius: 50%;
    z-index: 50;

    @media screen and (max-width: 380px) {
      left: 205px;
    }
  }

  .text-container {
    height: 80px;
    position: relative;
    bottom: 100px;
    background-image: linear-gradient(
      1turn,
      rgba(0, 0, 0, 0.3) 8.98%,
      rgba(0, 0, 0, 0)
    );
    h3 {
      font-size: 20px;
      padding-left: 26px;
      position: inherit;
      top: 20px;
    }

    h5 {
      font-size: 14px;
      position: relative;
      top: 0px;
      padding-left: 26px;
      color: #aaaaaa;
      font-weight: 400;
    }
  }

  .text-container-center {
    position: relative;
    top: -100px;
    z-index: 1;
    text-align: center;
    cursor: default;

    h3 {
      font-size: 20px;
    }

    h5 {
      font-size: 14px;
      position: relative;
      top: -20px;
      color: #8774e1;
      font-weight: 400;
    }
  }

  .profile-details {
    cursor: pointer;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 361px;
    top: -230px;
    left: 10px;
    border-radius: 10px;
    padding: 5px 20px;
    padding-left: 15px;
    height: 50px;

    @media screen and (max-width: 450px) {
      width: 85vw;
    }
    &:hover {
      background-color: rgba(#aaaaaa, 0.08);
    }

    .email,
    .profile {
      height: 26px;
      width: 26px;

      circle,
      path {
        stroke: #aaaaaa;
      }
    }

    .email-text,
    .user-text {
      line-height: 6px;
      padding-left: 30px;

      .user-email,
      .user-name {
        font-size: 16px;
      }

      .userEmail,
      .userName {
        font-size: 14px;
        color: #aaaaaa;
      }
    }
  }

  .profile-divider {
    height: 1.3vh;
    width: auto;
    position: relative;
    top: -213px;
    background-color: #181818;
    @media screen and (max-width: 450px) {
      height: 1vh;
    }
  }

  .profile-settings {
    background: #181818;
    position: relative;
    height: 100vh;
    top: -162px;
    width: auto;
    @media screen and (max-width: 450px) {
      height: 3vh;
    }
  }

  .logout-settings {
    background: #181818;
    position: relative;
    height: 100vh;
    top: 225px;
    width: auto;
  }

  .email-avatar {
    top: -208px;
  }

  .avatar-divider {
    top: -200px;
  }

  .avatar-settings {
    top: -153px;
  }

  .logout-container {
    position: relative;
    z-index: 20;
    top: -535px;
    right: -220px;
    font-size: 14px;
    background: rgba(#212121, 0.9);
    padding: 10px 35px;
    padding-right: 75px;
    border-radius: 6px;
    box-shadow: 0px 0px 20px #181818;
    cursor: pointer;

    .logout {
      height: 20px;
      width: 20px;
      left: -15px;
      z-index: 30;
    }

    .logout-text {
      top: -6px;
      font-weight: 500;
    }
  }

  .user-profile-settings {
    position: relative;
    bottom: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      height: 26px;
      width: 75px;

      line,
      path {
        stroke: #aaaaaa;
      }
    }
  }

  .avatar-profile-settings {
    bottom: 195px;
  }
}
